<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--log4net-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <!-- 【ps:记得修改 下面的 StudioM.Properties.Settings】-->
      <section name="ConferenceRoomOutMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--摄像头监控地址-->
    <add key="CameraRtspAddress" value="rtsp://192.168.1.100:554/profile1"/>

    <!--智存空间网站集-->
    <add key="MeetingInfoWebSiteUri" value="http://192.168.1.205/sites/TestTop/MeetReserve" />
    <!--当前会议室ID-->
    <add key ="MeetRoomID" value="1"/>

    <!--设置会议信息更新时间间隔-->
    <add key="InformationUpdateTime" value="10"/>
    
  </appSettings>


  <!--log4写日志-->
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
