<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--log4net-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <!-- 【ps:记得修改 下面的 StudioM.Properties.Settings】-->
      <section name="ConferenceRoomOutMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DoorControlSoap" />
      </basicHttpBinding>
      <customBinding>
       
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.84.215:1008/DoorControl.asmx"
        binding="basicHttpBinding" bindingConfiguration="DoorControlSoap"
        contract="DoorControlWebService.DoorControlSoap" name="DoorControlSoap" />
    
    </client>
  </system.serviceModel>
  
  <!--log4写日志-->
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>


</configuration>