<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>首页</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../assets/css/reset.css" rel="stylesheet" />
    <link href="../assets/js/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    <link href="../assets/css/layout.css" rel="stylesheet" />
</head>
<body>
    <div id="app">
        <el-container direction="vertical">
            <m-header></m-header>
            <el-main>
                
            </el-main>
        </el-container>
    </div>
    <!-- 先引入 Vue -->
    <script src="../assets/js/vue.min.js"></script>
    <!-- 引入组件库 -->
    <script src="../assets/js/element-ui/lib/index.js"></script>
    <script src="../components/m-header.js"></script>
    <script>
        var Index = new Vue({
            el: "#app",
            data: {
                
            },
            methods: {
               
            },
            mounted: function () {

            }
        })
    </script>
</body>
</html>
